<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">
      Vendim
    </ion-title>



<ion-button slot="end" (click)="cerrar()" expand="block" fill="clear" shape="round">
  <ion-icon color="danger" name="log-out"></ion-icon>
</ion-button>


  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <ion-grid fixed>
  <ion-row>
    <ion-col size="6">
      <ion-card>
        <ion-card-content>
          <ion-button (click)="encuestas()" expand="block" fill="clear" shape="round">
            Encuestas
          </ion-button>
        </ion-card-content>
      </ion-card>

    </ion-col>
    <ion-col size="6">

      <ion-card>
        <ion-card-content>
          <ion-button (click)="calificaciones()" expand="block" fill="clear" shape="round">
            Calificaciones
          </ion-button>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-grid>


 
  
</ion-content>
