<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center"
      >Pregunta 1/6: Atención al residente</ion-title
    >
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="8">
        <ion-card>
          <ion-card-content>
            <ion-card-title
              >1.- En General, ¿Qué tan satisfecho está con nuestra empresa?
            </ion-card-title>
          </ion-card-content>
        </ion-card>

        <ion-list>
          <ion-item>
            <ion-select [(ngModel)]="pregunta1" aria-label="fruit" placeholder="Selecciona una opcion">
              <ion-select-option value="Muy Satisfecho"
                >Muy Satisfecho</ion-select-option
              >
              <ion-select-option value="Satisfecho"
                >Satisfecho</ion-select-option
              >
              <ion-select-option value="Muy Insatisfecho"
                >Muy Insatisfecho</ion-select-option
              >
            </ion-select>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-grid fixed>
    <ion-row>
     

      <!-- <ion-col size="6">
        <ion-button (click)="siguiente()" expand="block" shape="round">
          Siguiente
        </ion-button></ion-col> -->





      <ion-col size="6">
        <ion-button
          [disabled]="true"
          (click)="atras()"
          expand="block"
          shape="round"
        >
          Atras
        </ion-button></ion-col
      >



      <ion-col *ngIf="pregunta1" size="6">
        <ion-button (click)="siguiente(pregunta1)" expand="block" shape="round">
          Siguiente
        </ion-button></ion-col>


    </ion-row>
  </ion-grid>
</ion-content>
